<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? @page_title+' | ' : '' %>Rtrello</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !flash[:notice].blank? %>
    <div class="notice" style="background-color: yellow">
      <%= flash[:notice] %>
    </div>
  </div>
  <% end %>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
